{% extends "blog/base.html" %}
{% block content %}
    <div class="content-section">
       <h2>You have been logged out</h2> 
        <div class="border-top pt-3">
            <small class="text-muted">
                Want to sign in again? <a class="ml-2" href="{% url 'user-login' %}">Sign In</a>
            </small>
        </div>
    </div>
{% endblock content %}